<div class="container">
    <div class="center">
      <h1>Burgers</h1>
      <img src="https://cdn6.aptoide.com/imgs/8/9/3/893015af06712a2f14a0d856be8bd4be_icon.png?w=240" alt="burger">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="center">
        {{#each burgers}}
        <div class="row burgerDiv">
          <span>{{id}}. {{burger_name}}</span>
          <button class="btn-warning pull-right" data-id="{{id}}" data-devoured="{{devoured}}">
            Devoure!
          </button>
        </div>
        {{/each}}
      </div>
    </div>

    <div class="col-md-6">
      <div class="center">

        {{#each eaten}}
        <div class="devoured">
          <span>{{id}}.{{burger_name}} </span>
        </div>
        {{/each}}

      </div>
    </div>
  </div>
  <div class="row">
    <div class="center">
      <form class="create-form">
        <div class="form-group">
          <textarea id="burger" name="newBurg" rows="4" cols="40"></textarea>
        </div>
        <button class="btn-primary" type="submit" id="buttonPost">Order burger</button>
      </form>
    </div>
  </div>

</div>